:root {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.app {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  /* min-height: 100vh; */
  /* padding-left: 315px;
  padding-right: 315px; */
}
